<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.0/socket.io.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="row">
      <div class="col-md-3">
        <form method="get" action="/search" enctype='multipart/form-data'>
          <div class="input-group">
            <input type="text" name="q" value="" id="q" placeholder="Search tweets..." class="form-control">
            <br>
            <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search">
                </span>
          </div>
        </form>
      </div>
    </div>
    <ul id="tweets"></ul>
  <script src="/javascripts/Javascript.js"></script>
  </body>
</html>
