<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<form id="searchForm" action="/search">
    <input type="text" id="q" name="q" autocomplete="off" size=60 class="form-control">
    <input id="search-button" type="submit" class="btn btn-primary" value="Search">
</form>

</body>
</html>
